h1 {text-align:center; color:#ba55d3; text-size: 20pt; font-family: verdana}
p {text-align:justify; color:#00008D; text-size: 20pt; font-family: arial}
h2 {text-align:center; color:#ba55d3; text-size: 20pt; font-family: verdana}
p2 {text-align:justify; color:#00008D; text-size: 20pt; font-family: verdana}
p3 {text-align:justify; color:#00008D; text-size: 20pt; font-family: verdana}
